<h2 class="text-center pt-2">Edit my profile</h2>
<div class="container-form text-center d-flex justify-content-center p-4">
  <div class="form-edit-user text-center">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

         <%= f.input :email, required: true, autofocus: true, input_html: {class: "fields-edit"} %>

        <%= f.input :address, required: true, autofocus: true, input_html: {class: "fields-edit", id: "geo"} %>

        <%= f.input :city, required: true, autofocus: true, input_html: {class: "fields-edit"} %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password", class: "fields-edit" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "fields-edit" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password", class: "fields-edit" } %>
                        <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-success text-center mb-5 mt-2 ml-4" %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center pt-4 mr-2">
  <%=link_to "Back", :back %>
</div>




<%# <h3>Cancel my account</h3> %>

<%# <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
