
<div class="main-card m-2 text-center p-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/demolition-rubble-picture-id157637703?b=1&k=20&m=157637703&s=170667a&w=0&h=ClTovdBmulqBTy9nSje4xtXSjFpyqm6kfMxZfnLs5w4=)">
  Choose your construction trash!
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<% @products.each do |product| %>
 <div class="card-product d-flex justify-content-between align-items-center">
 <div class="d-flex align-items-center">
  <img class="ml-3" src="https://images.unsplash.com/photo-1547056961-3c25e9140b05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpY2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" />

    <div class="product-description ml-2 p-2 text-left align-items-center">
      <h2 class="product-name"><%=product.name%></h2>
      <p>Unit: <strong>$<%=product.unit_price%></strong> - City: <strong><%=product.user.city.capitalize%></strong></p>
      <p><%=product.description%></p>
    </div>
</div>
    <%=link_to "Buy!", product_path(product), class: "btn btn-success m-4"%>
  </div>
<%end%>
