<h1><%= @product.name %> </h1>

<p>Unit price: <%=@product.unit_price%></p>
<p>Quantity: <%=@product.quantity%></p>
<p>Description: <%=@product.description%></p>
<p>Seller: <%=@user.email%></p>
<%=link_to "Back", root_path%>
