<h1 class="text-center">Buy <%= @product.name %>! </h1>

<div class="card-product-show">
 <% if @product.photo.key%>
  <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
  <%else%>
    <img class="ml-3" src="https://images.unsplash.com/photo-1547056961-3c25e9140b05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpY2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" />
  <%end%>
  <div class="card-product-infos-show">
    <p>Unit price: <%=@product.unit_price%></p>
    <p>Quantity: <%=@product.quantity%></p>
    <p>Description: <%=@product.description%></p>
    <p>Seller: <%=@product.user.email%></p>
  </div>
  <div>
    <%= simple_form_for @order, url:product_orders_path(@product.id,current_user) do |f| %>
      <%= f.input :quantity, required: true %>
    <div class="text-center">
      <% if user_signed_in? && (current_user != @user)%>
        <%= f.button :submit, class: "btn btn-success m-4" %>
      <% elsif user_signed_in? == false %>
        <%=link_to "Sign in to buy!", new_user_session_path, class: "btn btn-success m-4"%>
      <%end%>
    <% end %>
    <%=link_to "Back", root_path, class: "btn btn-danger m-4"%>
    </div>
  </div>
</div>


<%# <div class="text-center">
<%=link_to "Back", :back, class: "btn btn-danger m-4"%>
<%# <% if user_signed_in? && (current_user != @user) %>
  <%# <%=link_to "Buy!", product_orders_path(@product,current_user), method: :post, class: "btn btn-success m-4"%>
<%# <% elsif user_signed_in? == false %>
  <%# <%=link_to "Sign in to buy!", new_user_session_path, class: "btn btn-success m-4"%>
<%# <%end%>
<%# </div> %>
